/* NAVBAR */
nav.navbar{
  background-color: var(--gray2);
}


/* BOOTSTRAP GRID OUTER SCOPE */
  .layout-style{
    text-align: left;
    background-color: var(--bootstrap-gray400);
  }
  /* BOOTSTRAP GRID OUTER SCOPE */


/* BOOTSTRAP GRID SECTION SCOPE */
  .sidebar-left{
    display: block;
    background-color: var(--darkgray);
    color: var(--bootstrap-gray400);
    height: 100%;
  }


  .sidebar-right{
    background-color: var(--bootstrap-gray400);
    display: block;
    width: 100%
  }
  /* BOOTSTRAP GRID SECTION SCOPE */


  /* IMAGES */
  img.me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    border-radius: 100px;
    padding-bottom: 10px;
  }


  img.full-length-image{
    max-width: 960px;
    width: 100%;
    margin: auto;
    border: 4px solid;
    border-color: var(--mustard);
    margin-top: 15px;
    margin-bottom: 15px;
  }


  img.half-length-image{
    max-width: 960px;
    width: 100%;
    margin: auto;
    border: 4px solid;
    border-color: var(--mustard);
    margin-top: 15px;
    margin-bottom: 15px;
  }
    /* IMAGES */


   /* BUTTONS */
  .github{
    margin: auto;
    align-content: center;
    width: 100%;
    text-align: center;
  }
  /* BUTTONS */


  .title-style{
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
  }
  h1 {
    text-align: center;
  }


  /* ARROW GRAPHIC */
  .line-top{
    margin: auto;
    padding-top: 25px;
    display: block;
    height: 35px;
    width: 8px;
    border-radius: 4px;
    background-color: var(--mustard);
    border-color: var(--mustard);
    border-style: solid;
    margin-bottom: 10px;
  }


  .line{
    margin: auto;
    display: block;
    height: 35px;
    width: 8px;
    border-radius: 4px;
    background-color: var(--mustard);
    border-color: var(--mustard);
    border-style: solid;
    margin-bottom: 10px;
  }


  .line-black{
    margin: auto;
    display: block;
    height: 35px;
    width: 8px;
    border-radius: 4px;
    background-color: black;
    border-color: black;
    border-style: solid;
    margin-bottom: 10px;
  }


  .arrow-top{
    margin: auto;
    display: block;
    height: 35px;
    width: 8px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: var(--mustard);
    border-color:var(--mustard);
    border-style: solid;
  }


  .bottom-line-section{
    margin: auto;
    display: block;
    height: 35px;
    width: 8px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: black;
    border-color: black;
    border-style: solid;
  }


  .arrow-down{
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid;
    border-top-color: black;
  }


  .arrow-down-dark{
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid;
    border-top-color: black;

  }


  .full-arrow{
    align-content: center;
    padding-top: 25px;

  }
  /* ARROW GRAPHIC */


  /* Align Text */
  .paragraph-block{
    display: block;
    max-width: 960px;
  }


  .paragraph-heading{
    font-size: 20px;
    font-weight: bold;
  }

/* SECTION STYLES */

  .intro-heading{
    text-align: left;

  }
  .intro-style{
    margin: auto;
    display: block;
    text-align: left;
    background-color: var(--bootstrap-gray400);
    color: var(--midnight-blue);
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    max-width: 960px;

  }


  .cv-title{
    padding-bottom: 5px;
  }


  .cv-style{
    margin: auto;
    display: block;
    text-align: left;
    background-color: var(--bootstrap-gray400);
    color: black;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 35px;
    max-width: 960px;
  }


  .projects-style{
    margin: auto;
    display: block;
    text-align: left;
    display: block;
    background-color: var(--bootstrap-gray400);
    color: var(--midnight-blue);
    padding-left: 50px;
    padding-right: 50px;
    max-width: 960px;
  }


  /* project text */
  h3{
    color: black;
    font-size: 22px;;
    font-weight: bold;
    text-decoration: wavy;
    padding-bottom: 10px;
  }


  h4{
    color: var(--bootstrap-gray800);
    font-size: 15px;
    font-weight: bold;
    text-decoration: wavy;
  }


  .job-title{
    font-weight: bold;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
    /* project text */


  .contact-style{
    display: block;
    background-color: var(--bootstrap-gray400);
    color: black;
    padding-left: 50px;
    padding-right: 50px;
  }
  /* END OF SECTION STYLES */



  /* CONTACT SECTION */
.email-form{
  display: block;
  padding: 25px;
  width: 75%;
  margin: auto;
  border: 4px solid;
  border-color: var(--mustard);
  background-color: var(--bootstrap-gray800);
  margin-bottom: 50px;
  border-radius: 20px;
  color: var(--gray5);
  margin-top: 50px;
  color: var(--bootstrap-gray400);
}

.message-input{
  margin-bottom: 15px;
}


.message-submit{
  margin: auto;
  text-align: center;
}


.contact-label1{
  text-align: center;
  margin: auto;
  font-weight: bold;
  font-size: 37px;
  padding-bottom: 10px;
  color: var(--bootstrap-gray400);
}


.contact-label{
  text-align: center;
  margin: auto;
  padding-bottom: 10px;
  font-size: 15px;
  color: var(--bootstrap-gray400);
}
  /* CONTACT SECTION */