* {
    box-sizing: border-box;
  }
  .bootstrap-grid .row > * {
    padding: 0%;
  }

  :root {
    --white: #ffffff;
    --gray1: #333333;
    --gray2: #555555;
    --gray3: #cccccc;
    --gray4: #aaaaaa;
    --gray5: #262626;
    --bootstrap-gray100: #f8f9fa;
    --bootstrap-gray200: #e9ecef;
    --bootstrap-gray400: #ced4da;
    --bootstrap-gray500: #adb5bd;
    --bootstrap-gray600: #6c757d;
    --bootstrap-gray700: #495057;
    --bootstrap-gray800: #343a40;





    --black: #080808;
    --darkgray: #121217;
    --darkishgray: #4d0f0f;
    --teal: #006060;
    --lightteal: #008080;
    --purple: #800080;
    --navy: #000080;
    --cyan: #17a2b8;
    --violetred: #c71585;
    --red: #ff0000;
    --orange: #ffa500;
    --green: #006400;
    --midnight-blue:#030d1c;
    --lightblue:#e4f4f5;
  }

  body {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.2em;
    color: var(--gray1);
    position: relative;
    padding-top: 55px;
  }

  /* Adjust link targets due to floating menu. */
  :target {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}
